// Map 
$susy: (
	columns: 12,
	gutters: .25,
	global-box-sizing: border-box,
	container: 960px,
	debug: (
		image: show,
		output: overlay,
		toggle: top right
	)
);

@include global-box-sizing;

.header-content {
	@include container;

	.header-title {
		@include span(8 at 3);
		margin-left: span(2) + gutter();
		margin-top: span(1);
		margin-bottom: span(1);
		text-align: center;
	}
}

.main {
	@include container;

	.form {
		@include span(8 at 3);
		margin-left: span(2) + gutter();
		margin-top: span(1);

		[class^="form-"] {
			@include full;
		}

		.form-label {
			margin-bottom: .5rem;
		}

		.form-input {
			margin-bottom: 1rem;
			padding: 1rem .5rem;
		}

		.form-button {
			margin-top: 1rem;
			padding: 20px 10px;
		}
	}
}

.footer {
	margin-top: span(1);

	.footer-content {
		@include container;
		
		.social,
		.footer-credit {
			width: span(8);
			display: block;
			margin: 0 auto 30px;
			@include susy-media($screen-large) {
				width: span(4);
				display: inline-block;
			}
		}

		.social {
			@include susy-media($screen-large) {
				margin-left: span(2) + gutter();
			}
			
			.social-link {
				margin-right: 1em;
			}
		}

		.footer-credit {
			@include susy-media($screen-large) {
				margin-left: gutter();
			}
		}
	}
}
