// Map 
$susy: (
	columns: 12,
	gutters: .25,
	global-box-sizing: border-box,
	container: 960px,
	debug: (
		image: show,
		output: overlay,
		toggle: top right
	)
);

@include global-box-sizing;

.header-content {
	@include container;

	h1 {
		@include span(8 at 3);
		margin-left: span(2) + gutter();
		padding-top: gutter();
		padding-bottom: gutter();
		text-align: center;
	}
}

.main {
	@include container;
}

.footer-content {
	@include container;
}
